#services {
    text-align: center;
    margin: 2em 0;
    /* background: #6251C3; */

    /* background: linear-gradient(90.32deg, #8F00FF 0.28%, rgba(143, 0, 255, 0) 99.72%), #764ABC; */
    background: var(--services);
    padding: 2em 0;
    width: 80%;
    margin: auto;
    border-radius: 10px;

}

#services h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    padding: 1em;
    /* color: #FEFEFE; */
    color: var(--white);
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    flex-wrap: wrap;
}


.service {
    width: 200px;
}

.service svg path{
  fill: var(--white);
}

.service h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--white);
    margin: 1em 0;

}

.service p {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: var(--white);
}

@media (max-width: 550px) {
    .service {
        margin-bottom: 2.5em;
    }
}