#services {
    text-align: center;
    margin: 2em 0;
    /* background: #6251C3; */

    background: linear-gradient(90.32deg, #8F00FF 0.28%, rgba(143, 0, 255, 0) 99.72%), #764ABC;
    padding: 2em 0;
    width: 80%;
    margin: auto;
    border-radius: 10px;

}

#services h2 {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    padding: 1em 0;
    color: #FEFEFE;
}

.services {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    flex-wrap: wrap;
}


.service {
    width: 200px;
}

.service svg {}

.service h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 1em 0;

}

.service p {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* wavy background */
/* .box {
    --size: 50px;
    height: 200px;
    margin: 5px;
    border: 1px solid;
    
    background:
      radial-gradient(var(--size) at 50% var(--size),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100% no-repeat,
      radial-gradient(var(--size) at 50% 0px,#0000 99%,red 101%) 50% var(--size)/calc(4*var(--size)) 100% no-repeat;
  }
  .box + .box {
    background-repeat: repeat-x;
  }
  .box.mask {
    -webkit-mask:
      radial-gradient(var(--size) at 50% var(--size),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--size) at 50% 0px,#0000 99%,red 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background:linear-gradient(90deg,red,blue);  
    border: none;
  } */