#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 80px;
}

#reviews h2 {
    margin: 2em;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    color: #000000;

}

.reviews {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.review {
    background: #B18E72;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 300px;

}

.review img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    align-self: center;
}

.review h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    padding-top: 0.5em;
    color: #FEFEFE;

}

.review p {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.scroll {
    background: #2B2B29;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 238px;
    font-weight: 600;
    margin: 1em 0;
    align-self: flex-end;
}

.scroll a {
    text-decoration: none;
    color: #fff;
}