#about {
    display: flex;
    padding: 5em;
    gap: 40px;
}

#about img {
    height: 400px;
}

#about div {
    margin: auto;
}

#about h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #A800AB;
}

#about p {
    font-size: 14px;
    line-height: 28px;
    color: #4F4F4F;
    width: 80%;
}

#about a {
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #A800AB;
    font-weight: 600;
}

#about a:hover {

    text-decoration-line: none;

}

@media (max-width: 900px) {
    #about img {
        width: 45%;
    }
    #about div{
        width: 55%;
    }

}

@media (max-width: 600px) {
    #about {
        flex-direction: column;
        padding: 5em 2em;
    }
    #about div, #about img, #about p {
        width: 100%;
    }

}