#about {
    display: flex;
    padding:5em;
    gap: 40px;
}

#about img {
    height: 400px;
}
#about div {
    margin: auto;
}
#about h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    color: #2B2B29;
}

#about p {
    font-size: 14px;
    line-height: 28px;
   color: #4F4F4F;
   width: 80%;
}

#about a {
    font-size: 14px;
    line-height: 20px;
   text-decoration-line: underline;
color: #B18E72;

}