#home {
    /* display: flex; */
    /* gap: 20px; */
    height: calc(100vh - 80px);
}
#home .text {
    margin: 0 2em;
    width: calc(100% - 700px);
    align-self: baseline;
    padding-bottom: 2em;
}

#home h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    color: #f6e5f7;
}

#home .landing {
    height: 600px;
    width: 800px;
}

#home p {
    font-size: 16px;
    line-height: 28px;
    color: #f6e5f7;
}

#home button {
    background: #fff;
    border-radius: 10px;
    border: none;
    color: #A800AB;
    font-weight: 700;
    padding: 11px 70px;
}

#home .brands {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.brands img {
    width: 80px;
    height: 50px;
}

/* wavy background */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    /* background: #3c31dd; */
    background: linear-gradient(139.52deg,#6251C3 -73.08%,#A800AB 150.16%);
}
 
.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: white;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background: linear-gradient(139.52deg,#6251C3 -73.08%,#A800AB 150.16%);
    transform: translate(-4%, 40%);
    z-index: -1;
}