#home {
    display: flex;
    gap: 20px;
    /* margin-bottom: 5em; */
    height: calc(100vh - 80px);
}
#home .text {
    margin: 5em;
    width: calc(100% - 700px);
}

#home h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 62px;
    color: #000000;
}

#home .landing {
    height: 600px;
    width: 800px;
}

#home p {
    font-size: 16px;
    line-height: 28px;
    color: #252525;
}

#home button {
    background: linear-gradient(180deg, rgba(43, 43, 41, 0.68) 0%, rgba(43, 43, 41, 0.9) 20.31%, #2B2B29 81.77%, #000000 98.96%);
    border-radius: 10px;
    color: #fff;
    padding: 11px 70px;
}

#home .brands {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.brands img {
    width: 80px;
}

/* wavy background */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: #3c31dd;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}